NEXT_PUBLIC_GRAPHQL_URL=http://YOUR_SERVER_IP:3007/graphql
NEXT_PUBLIC_SOCKET_URL=http://YOUR_SERVER_IP:3007
NEXT_PUBLIC_API_URL=http://YOUR_SERVER_IP:3007
NEXT_PUBLIC_SITE_URL=http://YOUR_SERVER_IP:3000
PORT=3000
HOSTNAME=0.0.0.0
